<h1 class="text-center">Znajdźmy najlepsze momenty!</h1>
       <div class="jumbotron">
        <div class="container">
         <h4  class="lead">Dzięki wyszukiwarce możesz wyszukać strony na Facebooku, które chcesz obserwować i w łatwy oraz szybki sposób dodawać informacje.</h4>
        </div>
       </div>


       <br>

        <div id="page-wrapper">

            <div class="container-fluid">
							
							<div class="row" id="primary">
										<main id="content" class="col-md-6 col-md-offset-3" role="main">   
                      <div class="row">  
                             
												
            
                      </div><!-- /.row -->
                      
                      <div class="row">
<%= form_tag(facebook_search_path, :method => "get", id: "search-form") do %>


												<div class="input-group input-group-lg">
													<%= text_field_tag :search, params[:search], placeholder: "Znajdź stronę na Facebooku", class: "form-control" %>
													<span class="input-group-btn">
														<%= submit_tag "Szukaj na Facebooku", class: "btn btn-default search-brand-ambasador" %>
													</span>
												</div><!-- /input-group -->
                      	
                      </div><!-- /.row -->

										</main><!-- /#content -->
										
									</div><!-- /.row -->
          
          <% if @search.present? %>
	<% @search.each do |page|  %>
           
									<div class="row">
										                          
                                    
										<article class="search-result">

													<div class="search-autor-image">
														<%= image_tag( @graph.get_picture( page['id'], type: :large) ) %>
													</div><!-- /.search-autor-image -->

													<div class="search-autor">
														<%= link_to "#{page['name']}", facebook_show_path(:id => "#{page['id']}", :name => "#{page['name']}") %>
													</div><!-- /.search-autor -->
													
													<div class="search-butons">
														<div class="search-add">
															<%= link_to "See board", facebook_show_path(:id => "#{page['id']}", :name => "#{page['name']}") %>
														</div><!-- /.search-see -->


														<div class="search-see">
															<%= link_to "See on Facebook", "http://www.facebook.com/#{page['id']}", target: "blank" %>
														</div><!-- /.search-add -->	
													</div>
										</article><!-- /.post -->		
											
<% end %>
						</div>
            
            	<nav class="text-center">
								<ul class="pagination">
									<li class = 'active'><%= link_to "1", facebook_search_path(:search => params[:search], :times => 1) %></li>
									<li class=""><%= link_to "2", facebook_search_path(:search => params[:search], :times => 2) %></li>
									<li class=""><%= link_to "3", facebook_search_path(:search => params[:search], :times => 3) %></li>
									<li class=""><%= link_to "4", facebook_search_path(:search => params[:search], :times => 4) %></li>
									<li class=""><%= link_to "5", facebook_search_path(:search => params[:search], :times => 5) %></li>
								</ul>
							</nav>
        	<% end %>   
            
            </div><!-- /.container-fluid -->

        </div><!-- /#page-wrapper -->
        <% end %>