<br>
<br>

<ul>
 	<li>
 		<% if current_user.ambasadors.where(object_id: @feed.first['from']['id']).exists? %>
 		<%= button_to ambasadors_delete_path(@ambasadors.where(:name => @feed.first['from']['name'] ).first ), class: "button add-brand-ambasador",  method: :delete  do %>
 			<i class="fa fa-star-o"></i><span>Unfollow</span>
 			<% end %>

 		<% else %>
 		<%= form_for @ambasador  do |f| %>

		<%= f.hidden_field :provider, :value => "facebook" %>
		<%= f.hidden_field :last_seen, :value => Time.now %>
		<%= f.hidden_field :object_id, :value => @feed.first['from']['id']%>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :name, :value => @feed.first['from']['name'] %>
			<%= button_to 'ambasadors#create', class: "button add-brand-ambasador", method: :post do %>
 			<i class="fa fa-star-o"></i><span>Follow</span>
 			<% end %>

		<% end %>
		<% end %>
	</li>
</ul> 

 <div id="page-wrapper">

            <div class="container-fluid">
							
							<div class="row" id="primary">
										<main id="content" class="col-lg-6 col-lg-offset-3" role="main">                          
                                    <% @feed.each do |hash| %>
										<article class="post">
											<header>
												<div class="post-autor-image">
													
													<%= image_tag( @graph.get_picture( hash['from']['id'], type: :album)) %>
												</div><!-- 
												--><div class="post-autor">
													<span><%= hash['from']['name'] %></span>
													<br>
													<time><%= time_ago_in_words(hash['updated_time']) %> ago</time>
												</div><!-- /.post-autor -->
												<div class="post-pin">
													<a href="">Pin</a>
												</div><!-- /.post-pin -->
											</header>
											<div class="post-image">
												<%= image_tag(hash['full_picture']) %>
											</div><!-- /.post-image -->
											<div class="post-main-text">
												<p><%= hash['message'] %></p>
											</div>
										</article><!-- /.post -->
									<% end %>






										</main><!-- /#content -->
									</div>
            
            	<nav class="text-center">
								<ul class="pagination">
									<li class="active"><%= link_to "1", facebook_show_path(:id => params[:id], :times => 1) %></li>
									<li class=""><%= link_to "2", facebook_show_path(:id => params[:id], :times => 2) %></li>
									<li class=""><%= link_to "3", facebook_show_path(:id => params[:id], :times => 3) %></li>
									<li class=""><%= link_to "4", facebook_show_path(:id => params[:id], :times => 4) %></li>
									<li class=""><%= link_to "5", facebook_show_path(:id => params[:id], :times => 5) %></li>
								</ul>
							</nav>
           
           
            
            </div><!-- /.container-fluid -->

        </div><!-- /#page-wrapper -->





	---------------------------------------------
<%= @feed2.each do |album| %>
	<%= @graph.get_connection( album['id'] , 'photos',
                    {
                      fields: ['message', 'name', 'from', 'type', 'picture',
                                'full_picture', 'object_id', 'link', 'created_time', 'updated_time'
                        ], type: 'large', limit: 2, :offset => "#{params[:times].to_i*10}"}).each do |photo| %>
                        <p><%= image_tag( @graph.get_picture( photo['id'], type: :album ) ) %></p>
                        <p><%= photo %></p>

	<% end  %>
<% end %>

	