<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Moje płatności<h3>

  <p>Aktualnie posiadasz plan <%= "#{current_user.price.type}" if current_user.price.present? %>. W celu zmiany prosimy o kontakt: tutaj dane kontaktowe i taki mail ma być zawsze, że jak w niego kliknę, to od razu mi się klient poczty otwiera.</p>

<h3>Usuń konto</h3>

<p>Niezadowolony? Skontaktuj się z nami: +48 796 798 700, wyślij nam maila: a.nowak@career-pin.com. Jeżeli jest coś o czym powinniśmy wiedzieć daj nam znać! Usunięcie konta jest równoważne z zakończeniem subskrypcji Career-Pin ze skutkiem natychmiastowym. <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Jesteś pewny? Zastanów się nad tym. Prześpij się z tym, zjedz czekoladę." }, method: :delete %></p>

<%= link_to "Back", :back %>
