<div class = "signup_back  page-wrapper">
    <center><h1 class = "special_class big">Witamy w Career-Pin!</h1>
      <div style="color: white;">
      <h2><strong>Pozostało <%= 40 - User.all.size %> z 50 testowych kont.</strong></h2><h4>Skontaktuj się z nami, lub zarejestruj się a my skontaktujemy się z Tobą. Wprowadź swoje działania Employer Brandingowe na wyższy poziom przed wszystkimi.<h4>
      
      <h5>Aleksander Nowak</h5>
      <h5>tel.: +48 796 798 700</h5>
      <h5>mail: alex@flyup.pro</h5>
    </div>
  <center><h2 class = "special_class">Rejestracja:</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field special_class">
          <%= f.label "Adres email",class: "signup_career_pin" %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "name@company.com", class: "sign_up_input" %><br />
          <%= f.label "Służy do późniejszej weryfikacji",class: "signup_career_pin" %>
        </div>

        <div class="field special_class">
          <%= f.label "Hasło", class: "signup_career_pin" %>
          <% if @minimum_password_length %>
          <em>(minimum <%= @minimum_password_length %> znaków)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "sign_up_input" %>
        </div>

        <div class="field special_class">
          <%= f.label "Potwierdź hasło", class: "signup_career_pin" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "sign_up_input" %>
        </div>
        <br>
        <div class="actions special_class">
          <%= f.submit "Zarejestruj się", class: "btn btn-default btn-lg btn-hollow" %>
        </div>
  <% end %>
</div>
