<% if @articles.present? %>

<% if user_signed_in? && current_user.id = params[:id] %>


		<div id="page-wrapper">
<h1 class="text-center">Awansuj swoją zakładkę Kariera</h1>
       <div class="jumbotron">
        <div class="container">
         <h5>
         	Poniżej znajduje się kod do Twojego Career-Pin. Możesz go wkleić w dowolne miejsce na swojej stronie internetowej. Career-Pin dostosuje swoje wymiary, aby zapewnić jak najlepsze doznania dla Twoich użytkowników. 
         </h5>
         	<br>
         	<br>
         	<center><h4>
         	&lt;iframe width = 100%, height = 3100px, frameborder = 0, src="https://careerpin.herokuapp.com/articles/<%= current_user.id %> &gt;&lt;/iframe&gt;
         	</h4></center>
         	<br>
         	<br>
			<h5>Po prostu skopiuj powyższy kod i wklej w swojej zakładce kariera. </h5>
         	

        
        </div>
       </div>


       <br>

 
<% end %>
			<div class="career-pin-conatiner">
				<% @articles.each do |art1|%>
				<div class="cp-2">
				<% if art1.provider == "own" %>
					<%= link_to art1.link do %>
						<div class="cp-image">
							<% if art1.photo_url.nil? && art1.provider == "twitter" %>
							<%= image_tag("https://s.graphiq.com/sites/default/files/2307/media/images/Twitter_Blue_1409382.png")%>
							<% end %>
							<% if art1.photo_url.nil? && art1.provider == "own" %>
							<%= image_tag(art1.photo.url, class: "myBackgroundImage" )%>
							<% end %>
							<% if art1.photo_url.nil? && art1.provider == "facebook" %>
							<%= image_tag("https://s.graphiq.com/sites/default/files/2307/media/images/Facebook_Blue_1409375.png")%>
							<% else %>
							<%= image_tag(art1.photo_url, class: "myBackgroundImage" )%>
							<% end %>
						</div>
						<div class="cp-social delete">
							<%if user_signed_in? && art1.user_id == current_user.id %>
							
							<% if art1.provider == "own" %>
								<%=button_to edit_article_path(art1), role: "button", class: "btn btn-success",  method: :get do  %>
	              				Edit
	              				<% end %>
             			    <% end %>

							<% end %>
							<% if art1.provider == "facebook" %>
							<i class="fa fa-facebook"></i>
							<% end %>
							<% if art1.provider == "twitter" %>
							<i class="fa fa-twitter"></i>
							<% end %>
							<% if art1.provider == "instagram" %>
							<i class="fa fa-instagram"></i>
							<% end %>
						</div>
						<div class="cp-text">
							<% if art1.provider == "instagram" %>
							<% else %>
							<p>
							<%= art1.text %>
							</p>
							<% end %>
							<time><%= time_ago_in_words(art1.time)+ " ago"%></time>
						</div>

					<% end %>
				<% else %>
					<%= link_to art1.link, target: "blank" do %>
						<div class="cp-image">
							<% if art1.photo_url.nil? && art1.provider == "twitter" %>
							<%= image_tag("https://s.graphiq.com/sites/default/files/2307/media/images/Twitter_Blue_1409382.png")%>
							<% end %>
							<% if art1.photo_url.nil? && art1.provider == "own" %>
							<%= image_tag(art1.photo.url, class: "myBackgroundImage" )%>
							<% end %>
							<% if art1.photo_url.nil? && art1.provider == "facebook" %>
							<%= image_tag("https://s.graphiq.com/sites/default/files/2307/media/images/Facebook_Blue_1409375.png")%>
							<% else %>
							<%= image_tag(art1.photo_url, class: "myBackgroundImage" )%>
							<% end %>
						</div>
						<div class="cp-social delete">
							<%if user_signed_in? && art1.user_id == current_user.id %>
							<%=button_to article_path(art1), role: "button", class: "btn btn-danger",  method: :delete do  %>
							unPin
							<% end %>

							<% end %>
							<% if art1.provider == "facebook" %>
							<i class="fa fa-facebook"></i>
							<% end %>
							<% if art1.provider == "twitter" %>
							<i class="fa fa-twitter"></i>
							<% end %>
							<% if art1.provider == "instagram" %>
							<i class="fa fa-instagram"></i>
							<% end %>
						</div>
						<div class="cp-text">
							<% if art1.provider == "instagram" %>
							<% else %>
							<p>
							<%= art1.text %>
							</p>
							<% end %>
							<time><%= time_ago_in_words(art1.time)+ " ago"%></time>
						</div>

					<% end %>

				<% end %>
				</div><!-- /.cp-4 -->
				<% end %>
				<%else%>
				    <% if !user_signed_in? %>
					<center><h1>Ooops... zabłądziłeś ziom.</h1></center>
					<% end %>
					<% if user_signed_in? && current_user.id = params[:id] %>

					<!--       

					Tutaj jest część, którą widzą ludzie, którzy nie mają pinów. 

					 -->

					 <h1 class="text-center">Przypnij trochę emocji.</h1>
          <div class= "jumbotron"><p>Career-Pin pozwala pokazać Twoim kandydatom prawdziwą atmosferę pracy. Pokazuje Twoją firmę jako część życia, zastrzyk pozytywnych emocji, niesamowite przygody czy wspaniałą grupę ludzi. Co wspaniałego chcesz dzisiaj pokazać?</p>
          </div>
          <center>Zacznij z:</center>
          <h1 class="text-center">
          <%= link_to '/auth/facebook' do %>
                    <i class="fa fa-facebook-official social"></i>
                    <% end %>
                    <%= link_to '/twitterlogin' do %>
                    <i class="fa fa-twitter social"></i>
                    <% end %>
                    <!-- <%= link_to '/instagramlogin' do %>
                    <i class="fa fa-instagram"></i> 
                    <% end %> -->
		 </h1>

					<% end %>
				<% end %>
				<script >
				var transport = new easyXDM.transport.BestAvailableTransport({}, function(){
				    transport.postMessage(document.body.scrollHeight);
				});
				</script>

			</div><!-- /.career-pin-conatiner -->

		</div><!-- /#page-wrapper -->
		
	</div><!-- /#wrapper -->
	
	<!-- Custom JavaScript -->
	<script src="custom.js"></script>

