
		<div id="page-wrapper">

			<div class="career-pin-conatiner">

				<% @articles.each do |art1|%>
				<div class="cp-2">
					<%= link_to art1.link, target: "blank" do %>
						<div class="cp-image">
							<% if art1.photo_url.nil? && art1.provider == "twitter" %>
							<%= image_tag("https://s.graphiq.com/sites/default/files/2307/media/images/Twitter_Blue_1409382.png")%>
							<% end %>
							<% if art1.photo_url.nil? && art1.provider == "facebook" %>
							<%= image_tag("https://s.graphiq.com/sites/default/files/2307/media/images/Twitter_Blue_1409382.png")%>
							<% else %>
							<%= image_tag(art1.photo_url, class: "myBackgroundImage" )%>
							<% end %>
						</div>
						<div class="cp-social delete">
							<%if user_signed_in? %>
							<button role="button" class="btn btn-danger">unPin</button>
							<% end %>
							<% if art1.provider == "facebook" %>
							<i class="fa fa-facebook"></i>
							<% end %>
							<% if art1.provider == "twitter" %>
							<i class="fa fa-twitter"></i>
							<% end %>
							<% if art1.provider == "instagram" %>
							<i class="fa fa-instagram"></i>
							<% end %>
						</div>
						<div class="cp-text">
							<% if art1.text <=> [1,2,3] %>
							<p>
							<% art1.text.each do |text| %>
							<%= text %>
							<% end %>
							</p>
							<% else %> 
							<p>
							<%= art1.text %>
			
							</p>
							<% end %>
							<time><%= time_ago_in_words(art1.time) %></time>
						</div>
					<% end %>
				</div><!-- /.cp-4 -->
				<% end %>
				

			</div><!-- /.career-pin-conatiner -->

		</div><!-- /#page-wrapper -->
		
	</div><!-- /#wrapper -->
	
	<!-- Custom JavaScript -->
	<script src="custom.js"></script>

