<h1 class="text-center">Przypnij niesamowite doświadczenia.</h1>
       <div class="jumbotron">
        <div class="container">
         <h4  class="lead">Stwórz własny artykuł na Career-Pin. Zamieść specjalny tekst dla swoich kandydatów, opisz benefity, zaprezentuj ludzi z zespołu, miejsce w którym pracujecie, ważne wydarzenia wewnętrzne dla potencjalnych kandydatów. Klawiatura w dłoń!</h4>
        </div>
       </div>
       <br>
       <br>
       <br>

<div id="page-wrapper">

				<div class="container-fluid">
							
					<div class="row">

									<div class="col-md-6 col-md-offset-3">


  





<%= form_for @article, :html => { :multipart => true }  do |f| %>

											<div class="form-group">
											  <%= f.label :author %>
											  <%= f.text_field :author, autofocus: true, placeholder: "Autor, stanowisko" %>
											</div>


											<div class="form-group">
											  <%= f.label :title %>
											  <%= f.text_field :title %>
											</div>

											<div class="form-group">
											  <%= f.label "Taki sobie tekst" %>
  											  <%= f.text_area :text %>
  											</div>
										<div class="article-butons">

												<div class="form-group">
													<input type="file" name="file" id="formAutorImage" class="inputfile" data-multiple-caption="{count} files selected" multiple>
														<%= f.file_field :photo %>
													  <%= f.hidden_field :time, :value => Time.now %>
													  <%= f.hidden_field :provider, :value => "own" %>
													  <%= f.hidden_field :user_id, :value => current_user.id %>
													   <%= f.submit "Create" %>
<% end %>
												</div>

										</div>

									</div>
									<div class="col-md-6 col-md-offset-3">
										<div class="text-center">
											
										</div>
									</div>
							
					</div><!-- /.row -->
				
					<div class="row">
							

						
						<br>
						
						<div class="col-md-6 col-md-offset-3">
							<div class="text-center">
								 
							</div>
						</div>
	
					</div><!-- /.row --> 

				</div><!-- /.container-fluid -->

			</div><!-- /#page-wrapper -->