<h1 class="text-center">Przypnij niesamowite doświadczenia.</h1>
       <div class="jumbotron">
        <div class="container">
         <h4  class="lead">Stwórz własny artykuł na Career-Pin. Zamieść specjalny tekst dla swoich kandydatów, opisz benefity, zaprezentuj ludzi z zespołu, miejsce w którym pracujecie, ważne wydarzenia wewnętrzne dla potencjalnych kandydatów. Klawiatura w dłoń!</h4>
        </div>
       </div>
       <br>
       <br>
       <br>

<div id="page-wrapper">

				<div class="container-fluid">
							
					<div class="row">

									<div class="col-md-6 col-md-offset-3">


  





<%= form_for @article, :html => { :multipart => true, :class => "form-inline" }  do |f| %>

    


											<div class="form-group">
												<div class="input-group">

											  <span class="input-group">Autor:&nbsp;&nbsp;&nbsp;</span>
											  <%= f.text_field :author, autofocus: true, placeholder: "Autor, stanowisko" %>
												</div>
											</div>

											<p></p>
											<p></p>
											<p></p>
											<p></p>
											<p></p>
											<div class="form-group">
												<div class="input-group">

											  <span class="input-group">Tytuł:&nbsp;&nbsp;&nbsp;&nbsp; </span>

											  <%= f.text_field :title %>

												</div>
											</div>

											<p></p>
											<p></p>
											<p></p>
											<p></p>
											<p></p>

											<div class="form-group">
											  <p>TREŚĆ: 
  											  <%= f.text_area :text, rows: 10, cols: 90 %></p>
  											</div>
										<div class=" text-center">

												<div class="form-group center">
													<input type="file" name="file" id="formAutorImage" class="inputfile" data-multiple-caption="{count} files selected" multiple>
														<%= f.file_field :photo %>
														<br><br>
													  <%= f.hidden_field :time, :value => Time.now %>
													  <%= f.hidden_field :provider, :value => "own" %>
													  <%= f.hidden_field :user_id, :value => current_user.id %>
													   <%= f.submit "Create", class: "btn btn-green" %>
<% end %>
												</div>

										</div>

									</div>
									<div class="col-md-6 col-md-offset-3">
										<div class="text-center">
											
										</div>
									</div>
							
					</div><!-- /.row -->
				
					<div class="row">
							

						
						<br>
						
						<div class="col-md-6 col-md-offset-3">
							<div class="text-center">
								 
							</div>
						</div>
	
					</div><!-- /.row --> 

				</div><!-- /.container-fluid -->

			</div><!-- /#page-wrapper -->