
<%= form_for @article, :html => { :multipart => true }  do |f| %>
  <%= f.file_field :photo %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :text %>
  <%= f.text_area :text %>
  <%= f.submit "Create" %>
  <%= f.hidden_field :time, :value => Time.now %>
  <%= f.hidden_field :provider, :value => "own" %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>


<div id="page-wrapper">

        <div class="container-fluid">
              
          <div class="row">
              
                <header class="col-sm-4 col-sm-offset-4 text-center">
                  <h1>Kafelkowe informacje</h1>
                  <p class="lead">Cover image, autor, title</p>
                </header>

                  <div class="col-md-6 col-md-offset-3">

                    <form class="form-inline">
                      <div class="form-group">
                        <label for="formAuthor">Autor</label>
                        <input type="text" id="formAuthor" class="form-control">
                      </div>
                    </form>
                    <form class="form-inline">
                      <div class="form-group">
                        <label>Title</label>
                        <textarea class="form-control" rows="1"></textarea>
                      </div>
                    </form>
                    <div class="article-butons">
                      <form>
                        <div class="form-group">
                          <input type="file" name="file" id="formCoverImage" class="inputfile" data-multiple-caption="{count} files selected" multiple>
                          <label for="formCoverImage"><i class="fa fa-cloud-upload"></i> <span>Choose cover image&hellip;</span></label>
                        </div>
                      </form>
                      <form>
                        <div class="form-group">
                          <input type="file" name="file" id="formAutorImage" class="inputfile" data-multiple-caption="{count} files selected" multiple>
                          <label for="formAutorImage"><i class="fa fa-cloud-upload"></i> <span>Choose a file&hellip;</span></label>
                          
                        </div>
                      </form>
                    </div>

                  </div>
                  <div class="col-md-6 col-md-offset-3">
                    <div class="text-center">
                      
                    </div>
                  </div>
              
          </div><!-- /.row -->
          
          <div class="row">
              
            <form>
              <textarea id="editor1" name="editor1" id="editor1" rows="10" cols="80">
                  Place Your article here.
              </textarea>
              <script>
                  // Replace the <textarea id="editor1"> with a CKEditor
                  // instance, using default configuration.
                  CKEDITOR.replace( 'editor1' );
              </script>
            </form>
            
            <br>
            
            <div class="col-md-6 col-md-offset-3">
              <div class="text-center">
                <a href="" class="btn btn-default">Next</a>
              </div>
            </div>

          </div><!-- /.row --> 

        </div><!-- /.container-fluid -->

      </div><!-- /#page-wrapper -->