<div id="page-wrapper" class="article">


            <footer class="col-sm-4 col-sm-offset-4 post-preview-buttons">
                 <%=button_to edit_article_path(@article), role: "button", class: "btn btn-success",  method: :get do  %>
              Edit
              <% end %>

        <%=button_to article_path(@article), role: "button", class: "btn btn-danger",  method: :delete do  %>
              Delete
              <% end %>
         <%=button_to article_path(current_user.id), role: "button", class: "btn btn-success",  method: :get do  %>
              Career-Pin
              <% end %>
              
            </footer>
        <div class="container-fluid">
              
          <div class="row">
            
            <article class="col-sm-10 col-sm-offset-1 post-preview">
                   <%= image_tag (@article.photo.url )%>
              <div class="post-image-preview">

                <h1 class="post-title-preview"><%= @article.title%></h1>
              </div><!-- /.post-image-preview -->

            
              <div class="post-text-preview">
                  <p class="lead"><%= @article.text %></p>
                </div><!-- /.post-text-preview -->
                
                <div class="post-autor-preview">
                

                  <div class="post-autor-information-preview">
                    <span><%= @article.author %></span>
                    <time><%= "#{time_ago_in_words( @article.updated_at )} ago" %></time>
                  </div>
                  
                </div><!-- /.post-autor-preview -->
                
              </div><!-- /.search-autor -->
              
            </article><!-- /.col-sm-10 col-sm-offset-1 .post-preview -->
              

              
          </div><!-- /.row -->

        </div><!-- /.container-fluid -->

      </div><!-- /#page-wrapper -->


