<h1>InstagramApp#create</h1>
<p>Find me in app/views/instagram_app/create.html.erb</p>

<%= @instagram_data %>
<hr>
<%= @instagram_data.credentials.token %>
<hr>
<%= @instagram_data.provider %>
<hr>
<%= @instagram_data.uid %>
<hr>
<%= @instagram_data.info.image %>
