<%= link_to "Spróbuj career-pin", instagrampin_path(:user_id => @instagram.first.user.id)%>
   <div id="page-wrapper">

            <div class="container-fluid">
              
              <div class="row" id="primary">
                    <main id="content" class="col-lg-6 col-lg-offset-3" role="main">
                                    <% @instagram.each do |insta| %>
                    <article class="post">
                      <header>
                        <div class="post-autor-image">
                          <%= image_tag( insta.user.profile_picture ) %> 
                          
                        </div><!-- 
                        --><div class="post-autor">
                          <span><%= insta.user.username %></span>
                          <br>
                          <time><%= time_ago_in_words (Time.at(insta['created_time'].to_i))   %></time>
                        </div><!-- /.post-autor -->
                        <div class="post-pin">
                          <a href=""></a>
                        </div><!-- /.post-pin -->
                      </header>
                      <div class="post-image">
                        <%= image_tag( insta.images.standard_resolution.url ) %> 
                      </div><!-- /.post-image -->
                      <div class="post-main-text">
                        
                        <p><% insta.tags.each do |tag| %>
                        <%=" #"+"#{tag}" %>
                        <% end %></p>
                      </div>
                    </article><!-- /.post -->
                  <% end %>
                    </main><!-- /#content -->
                  </div>          
                      </div><!-- /.container-fluid -->

                  </div><!-- /#page-wrapper -->