
    <%= link_to "Spróbuj career-pin", instagrampin_path(:user_id => @instagram.first.user.id), class: "btn btn-success center"%>

            <div class="container-fluid">
              
              <div class="row" id="primary">
                    <main id="content" class="col-lg-6 col-lg-offset-3" role="main">
                                    <% @instagram.each do |insta| %>
                    <article class="post">
                      <header>
                        <div class="post-autor-image">
                          <%= image_tag( insta.user.profile_picture ) %> 
                          
                        </div><!-- 
                        --><div class="post-autor">
                          <span><%= insta.user.username %></span>
                          <br>
                          <time><%= time_ago_in_words (Time.at(insta['created_time'].to_i))   %></time>
                        </div><!-- /.post-autor -->
                        <div class="post-pin">

      <%= form_for @article, :method => 'post' do |f| %>
      <%= f.hidden_field :text, :value => "" %>
      <%= f.hidden_field :time, :value => Time.at(insta['created_time'].to_i) %>
      <%= f.hidden_field :photo_url, value: insta.images.standard_resolution.url %>
      <%= f.hidden_field :provider, value: "instagram" %>
      <%= f.hidden_field :link, :value => "http://instagram.com/#{insta.user.username}" %>
      <%= f.hidden_field :author, :value => insta.user.username %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "Zapisz insta" %>
      <% end %>

                          <a href="">Pin</a>
                        </div><!-- /.post-pin -->
                      </header>
                      <div class="post-image">
                        <%= image_tag( insta.images.standard_resolution.url ) %> 
                      </div><!-- /.post-image -->
                      <div class="post-main-text">
                        
                        <p><% insta.tags.each do |tag| %>
                        <%=" #"+"#{tag}" %>
                        <% end %></p>
                      </div>
                    </article><!-- /.post -->
                  <% end %>
                    </main><!-- /#content -->
                  </div>          
                      </div><!-- /.container-fluid -->

                  </div><!-- /#page-wrapper -->