
        <div id="page-wrapper">

            <div class="container-fluid">
							
							<div class="row" id="primary">
										<main id="content" class="col-md-6 col-md-offset-3" role="main">   
                      <div class="row">  
                             
												<div class="col-xs-3">
                    			<h1><i class="fa fa-twitter"></i></h1>
                    		</div><!-- /.col-xs-3 -->
                    		
                     		<div class="col-xs-9 search-text">
                     			<p class="lead">
														<%= current_user.name %>
														<br>
														Let's find some good news!
                     			</p>
												</div><!-- /.col-xs-9 .search-text -->               
                      </div><!-- /.row -->
                      
                      <div class="row">
<%= form_tag(twittersearch_path, :method => "get", id: "search-form") do %>


												<div class="input-group input-group-lg">
													<%= text_field_tag :search, params[:search], placeholder: "Type in phrase or your company name", class: "form-control" %>
													<span class="input-group-btn">
														<%= submit_tag "Search", class: "btn btn-default search-brand-ambasador" %>
													</span>
												</div><!-- /input-group -->
                      						<% end %>
                      						</div><!-- /.row -->

										</main><!-- /#content -->
										
									</div><!-- /.row -->

            
            </div><!-- /.container-fluid -->
						</div>
            

          						<% if @search.present? %>
          						
        						<%= @search.each do |tweet| %>
										<article class="post">
											<header>
												<div class="post-autor-image">
													<%= image_tag(tweet.user.profile_image_uri(size = :bigger)) %> 
													
												</div><!-- 
												--><div class="post-autor">
													<span><%= tweet.user.name %></span>
													<br>
													<time><%= time_ago_in_words(tweet.created_at) %> ago</time>
												</div><!-- /.post-autor -->
												<div class="post-pin">
													<a href="">Pin</a>
												</div><!-- /.post-pin -->
											</header>
											<div class="post-image">
												<%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"]) if(tweet.media.present?)%>
											</div><!-- /.post-image -->
											<div class="post-main-text">
												<p><%= tweet.text %></p>
											</div>
										</article><!-- /.post -->
									<% end %>
									<% end %>
