<%= link_to "Spróbuj career-pin", twitterpin_path(:profile_name => @last_tweets.first.user.screen_name)%>
   <div id="page-wrapper">

            <div class="container-fluid">
							
							<div class="row" id="primary">
										<main id="content" class="col-lg-6 col-lg-offset-3" role="main">                          
                                    <% @last_tweets.each do |tweet| %>
										<article class="post">
											<header>
												<div class="post-autor-image">
													<%= image_tag(tweet.user.profile_image_uri(size = :bigger)) %> 
													
												</div><!-- 
												--><div class="post-autor">
													<span><%= tweet.user.name %></span>
													<br>
													<time><%= time_ago_in_words(tweet.created_at) %> ago</time>
												</div><!-- /.post-autor -->
												<div class="post-pin">
													<a href="">Pin</a>
												</div><!-- /.post-pin -->
											</header>
											<div class="post-image">
												<%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"]) if(tweet.media.present?)%>
											</div><!-- /.post-image -->
											<div class="post-main-text">
												<p><%= tweet.text %></p>
											</div>
										</article><!-- /.post -->
									<% end %>
										</main><!-- /#content -->
									</div>          
					            </div><!-- /.container-fluid -->

					        </div><!-- /#page-wrapper -->