

    <!-- MAIN CONTENT
    ================================================== -->

    <!-- Background Image -->
    <div class="bg-image hidden"></div>


    <!-- Background Colors -->
    <div class="bg-colors" data-colors="#9B59B6,#2ECC71,#f1c40f,#3498DB,#E67E22,#2980b9,#2db069"></div>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container2">

        <div class="navbar-header" id="navbar-inline">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#section_welcome">Career-Pin</a>
        <!-- Top Menu Items -->


        <div id="navbar" class="collapse navbar-collapse navbar-right">

          
          <ul class="nav navbar-nav navbar-right menu">

            <li data-menuanchor="section_contact-us">
             <%= link_to "Zarejestruj się!", new_user_registration_path %>
            </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown"><i class="fa fa-user"></i> Zaloguj się! <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
            </div>


              </li>
              <li class="divider"></li>
              <li>
            <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
              </li>
               <li class="divider"></li>
              <li>
                <div class="field">
     <%= f.submit "Log in" %>

  </div>
            </li>
        </ul>
        <% end %>

        </div>
        </li>
          </ul>

          
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container -->
    </nav>

    <!-- Devices -->
    <div class="device__container hidden-xs">

      <!-- iPhone -->
      <div class="iphone__container black hidden">

        <!-- Slides -->
        <div class="iphone__screen">
          <div class="device__slides">
            
            <img src="assets/img/app-screenshots/quest_1.png" alt="...">
            <img src="assets/img/app-screenshots/quest_2.png" alt="...">
            <img src="assets/img/app-screenshots/quest_3.png" alt="...">
            <img src="assets/img/app-screenshots/quest_4.png" alt="...">
            <img src="assets/img/app-screenshots/quest_5.png" alt="...">
            <img src="assets/img/app-screenshots/quest_2.png" alt="...">
            <img src="assets/img/app-screenshots/quest_1.png" alt="...">

          </div>
        </div>

      </div>

      <!-- Samsung -->
      <div class="samsung__container black hidden">

        <!-- Slides -->
        <div class="samsung__screen">
          <div class="device__slides">
            
            <img src="assets/img/app-screenshots/quest_1.png" alt="...">
            <img src="assets/img/app-screenshots/quest_2.png" alt="...">
            <img src="assets/img/app-screenshots/quest_3.png" alt="...">
            <img src="assets/img/app-screenshots/quest_4.png" alt="...">
            <img src="assets/img/app-screenshots/quest_5.png" alt="...">
            <img src="assets/img/app-screenshots/quest_2.png" alt="...">
            <img src="assets/img/app-screenshots/quest_1.png" alt="...">

          </div>
        </div>

      </div>

      <!-- Macbook -->
      <div class="macbook__container">

        <!-- Slides -->
        <div class="macbook__screen">
          <div class="device__slides">
            
          <%= image_tag("screen_1.png") %>

          </div>
        </div>

      </div>

    </div> <!-- / .device__container -->


    <!-- Sections -->
    <div id="fullpage">

      <!-- 1. Welcome -->
      <section data-anchor="section_welcome">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-6">
              
              <h1 class="heading" data-animate-in="animateUp">
                <br>
              <span class="special_class"><strong>LUDZKA</strong> STRONA FIRMY</span> 
              </h1>
              <br>
              <p class="delay_1 special_class" data-animate-in="animateUp">
                Narzędzie, które w ciągu 60 sekund zasysa na stronę internetową aktywności z różnych kanałów w social media, w których jesteś Ty lub Twoi pracownicy.
              </p>

              <p class="delay_1 special_class center" data-animate-in="animateUp">
               <strong>Pozostało <%= 40 - User.all.size %> z 50 promocyjnych kont.</strong>
              </p>



            </div>
          </div> <!-- / .row -->
        </div><!-- / .container -->
      </section>
